USE [HungTest]
GO
/****** Object:  Table [dbo].[ProductHistory]    Script Date: 2021/06/22 15:38:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Barcode] [nvarchar](16) NOT NULL,
	[Unit] [int] NOT NULL,
	[NameOld] [nvarchar](250) NULL,
	[NameNew] [nvarchar](250) NULL,
	[PriceBuyOld] [int] NULL,
	[PriceBuyNew] [int] NULL,
	[InterestOld] [int] NULL,
	[InterestNew] [int] NULL,
	[PriceOld] [int] NULL,
	[PriceNew] [int] NULL,
	[QuantityOld] [int] NULL,
	[QuantityNew] [int] NULL,
	[CategoryIdOld] [int] NULL,
	[CategoryIdNew] [int] NULL,
	[SupplierIdOld] [int] NULL,
	[SupplierIdNew] [int] NULL,
	[PinOld] [bit] NULL,
	[PinNew] [bit] NULL,
	[EnableOld] [bit] NULL,
	[EnableNew] [bit] NULL,
	[ExpirationDateOld] [datetime2](7) NULL,
	[ExpirationDateNew] [datetime2](7) NULL,
	[ImgOld] [nvarchar](max) NULL,
	[ImgNew] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CreatedBy] [nvarchar](256) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UpdatedBy] [nvarchar](256) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_ProductHistory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ProductHistory] ON 

SET IDENTITY_INSERT [dbo].[ProductHistory] OFF
