@inherits LayoutComponentBase
@inject Blazor.Local.Services.IAccountService AccountService
@inject NavigationManager NavigationManager

<div class="page">
    @if (LoggedIn)
    {
        <div class="sidebar">
            <NavMenu />
        </div>
    }

    <div class="main app-container content px-4 @(LoggedIn ? "bg-light" : "")">
        <nav class="top-row navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-nav me-auto mb-2 mb-lg-0">
                <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link">Home</NavLink>
                <NavLink href="users" class="nav-item nav-link">Users</NavLink>
                <NavLink href="account/logout" class="nav-item nav-link">Logout</NavLink>
            </div>
        </nav>
        <Alert />
        @Body
    </div>
</div>

@code {
    public bool LoggedIn
    {
        get { return AccountService.User != null; }
    }
}
