<style>
    .card {
        width: 6.5rem;
        height: 12rem;
    }

    .card-body {
        padding: 0.5rem;
    }

    .card-subtitle {
        font-size: 1rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .card-img-top {
        width: 200px;
        height: 200px;
    }

    a.btn{
        cursor: pointer;
    }
</style>
@if (Datas != null && Datas.Count > 0)
{
    foreach (Product product in Datas)
    {
        <div class="product-card mr-2 mb-2">
            <div class="card">
                <img class="card-img-top" src="@product.Img" alt="Card image cap">
                <div class="card-body d-flex flex-column justify-content-center">
                    <h5 class="card-subtitle">@product.Name</h5>
                    <p class="card-text mb-0">@StringUtil.ToCurrency(product.Price)</p>
                    <a class="btn btn-primary" @onclick="@(() => OnClick.InvokeAsync(product.Barcode))"><i class="fas fa-cart-plus"></i> Add</a>
                </div>
            </div>
        </div>
    }
}


@code{
    [Parameter]
    public IList<Product> Datas { set; get; }

    [Parameter]
    public EventCallback<IList<Product>> DatasChanged { get; set; }

    [Parameter]
    public EventCallback<string> OnClick { get; set; }
}